@import './variables/colors';
@import './variables/display';
@import './variables/dimensions';
@import './variables/fonts';

// Screens
@import '../screens/Home/styles.module.scss';
@import '../screens/Results/styles.module.scss';
@import '../screens/ProductDetail/styles.module.scss';

// Components
@import '../components/Header/styles.module.scss';
@import '../components/ProductItem/styles.module.scss';
@import '../components/Routes/styles.module.scss';
@import '../components/Searchbar/styles.module.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: $grey;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

a {
  color: $dark-grey;
  outline: none;
  text-decoration: none;

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
