@import '../../styles/variables/colors';

.header {
  background-color: $yellow;
  height: 60px;

  &__container {
    max-width: 1200px;
  }

  &__logo {
    height: 34px;
    margin-right: 60px;
    width: 134px;
  }
}
