@import '../../styles/variables/colors';

.header {
  background-color: $yellow;
  height: 60px;

  &__container {
    max-width: 1200px;
  }

  &__button {
    background-color: $yellow;
    cursor: pointer;
    margin-right: 60px;

    &:focus {
      outline: none;
    }
  }

  &__logo {
    height: 34px;
    width: 134px;
  }
}
